body, html {
    margin: 0px;
}

.box{
    background-color: aquamarine;
    background-image: url('image/HEADER.jpeg'); 
    border : 2px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.text{
    color: white;   
    font-family: "Times New Roman", Times, serif; /* Custom font family */
    font-size: 24px; /* Font size */
    font-style: italic; /* Font style */
    font-weight: bold; /* Font weight */

}